

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    
    header nav {
    
        padding: 15px 0;
        text-align: center;
        background-color: #CEBC6F;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 0 0 30px 30px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin:0;
    }

    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0px 0;
        margin-left: 10px;
        width: 80%; 
    }

    nav ul li a {
        display: block;
        width: 80%;
        padding: 10px;
    }

    
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero img {
        width: 80%;
        height: auto;
        margin-bottom: 15px;
    }

    .info {
        width: 90%;
    }
}


.Datos {
    text-align: center;
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Datos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6f7040; 
}

.Datos .Tel, .Datos .Correo {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    margin: 7px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Datos .Tel:hover, .Datos .Correo:hover {

    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.Datos img {
    width: 50px;
    height: 50px;
    margin-bottom: 9px; 
}

.Datos p {
    font-size: 1.2rem;
    color: #555; 
}

/*Pantallas grandes*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f2d;
    color: white;
}
/* Formulario */
.formulario {
    margin: 2rem;
    padding: 1.5rem;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #c4b168;
}

.formulario .contenido {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem;
}

.formulario .contenido img {
    width: 24px;
    height: 24px;
    margin-right: 0.8rem;
}

.formulario input,
.formulario textarea {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.formulario textarea {
    resize: none;
    height: 100px;
}

.formulario button {
    display: block;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    background-color: var(--buttom-color);
    color: var(--white-color);
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #b1903b;
}
