@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    box-sizing: border-box;    
}

/* Media Query para pantallas peque침as */
@media (max-width: 768px) {
    
    header nav {
    
        padding: 15px 0;
        text-align: center;
        background-color: #CEBC6F;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 0 0 30px 30px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin:0;
    }

    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0px 0;
        margin-left: 10px;
        width: 80%; 
    }

    nav ul li a {
        display: block;
        width: 80%;
        padding: 10px;
    }

    /* Ajuste de la secci칩n hero */
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero img {
        width: 80%;
        height: auto;
        margin-bottom: 15px;
    }

    .info {
        width: 90%;
    }
}





/*Pantallas grandes*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f2d;
    color: white;
}




/* Estilos de la secci칩n principal */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1734;
    padding: 40px;
    position: relative;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 900px;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.info {
    max-width: 500px;
}

.info h1 {
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.info h2 {
    font-size: 20px;
    font-weight: bold;
    color: #E6D596;
}

.info p {
    font-size: 14px;
    color: white;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #1B1734;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos de la secci칩n habilidades */
.Proyectos {
    text-align: center;
    color: black;
    padding: 40px 20px;
    border-radius: 20px;
    margin: 10px;
}
.Proyectos h3 {
    color: #c4b168;
    font-size: 24px;
    font-weight: bold;
}
.card {
    display: inline-block;
    background-color: #f8f8f8;
    color: #0E0E2D;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.card p {
    font-size: 0.9rem;
}

.descarga {
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    color: #ffffff;
    background-color: #CEBC6F;
    border-radius: 8px;
    margin-top: 2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}



.Diplomas {
    text-align: center;
  
    color: #CEBC6F; 
    padding: 20px;
    border-radius: 10px;
}

.Diplomas h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #CEBC6F; 
}

.Diplomas a {
    display: block;
    background-color: #2a2f4f; 
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px auto; 
    width: 80%; 
    max-width: 400px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.2s;
}

.Diplomas a:hover {
    background-color: #3c417a; 
    transform: scale(1.05); 
}



